<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title" id="addModalLabel">导入</h4>
</div>
<form action="/uploadxls" method="post" enctype="multipart/form-data" target="rfFrame">
  <input type="hidden" name="_csrf" value="<%=csrf%>" />
  <input type="file" name="file" multiple>
  <input type="submit" value="上传">
  <iframe id="rfFrame" name="rfFrame" src="about:blank" scrolling="no"></iframe>
</form>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
</div>