<!DOCTYPE html>
<html lang="zh">

<head>
	<meta charset="UTF-8">
	<title>
		<%= pagename %>
	</title>
	<link rel="icon" href="http://pic.58pic.com/58pic/13/68/85/15K58PICGhT_1024.jpg">
	<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdn.bootcss.com/bootstrap-table/1.12.1/bootstrap-table.min.css" rel="stylesheet">
	<link href="https://cdn.bootcss.com/bootstrap-fileinput/4.4.8/css/fileinput.min.css" rel="stylesheet">
	<script src="http://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap-fileinput/4.4.8/js/fileinput.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap-fileinput/4.4.8/js/locales/zh.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap-table/1.12.1/locale/bootstrap-table-zh-CN.min.js"></script>
	<style>
		.pagination {
			margin: 10px 0;
		}

		#toolbar {
			position: absolute;
			margin-top: 50px;
		}

		.operatefile {
			display: none;
		}

		.file-input.file-input-ajax-new {
			margin-top: 32px;
		}

		.svg-word-glitch {
			position: absolute;
			width: 600px;
			height: 200px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.word-glitch {
			fill: black;
			filter: url(#filter);
			font-family: Raleway, Verdana, sans-serif, 微軟正黑體, 微软雅黑, serif, 'Droid Serif', 'Helvetica Neue', Helvetica, Arial;
			font-size: 80px;
			-webkit-font-smoothing: antialiased;
		}

		#rfFrame {
			border: 0px;
			height: 24px;
		}
	</style>
</head>

<body>
	<% if(type!='auth'){ %>
		<header>
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
						 aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#">管理系统</a>
					</div>

					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul id="navlink" class="nav navbar-nav">
							<li id="category" class="active">
								<a href="#">分类管理</a>
							</li>
							<li id="good">
								<a href="#">商品管理</a>
							</li>
							<li id="banner">
								<a href="#">轮播管理</a>
							</li>
							<!-- <li id="quality"><a href="#">精选管理</a></li> -->
							<li id="shop">
								<a href="#">关于店家</a>
							</li>
							<li id="discount">
								<a href="#">优惠信息</a>
							</li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li>
								<a href="/logout">注销</a>
							</li>
						</ul>
					</div>
					<!-- /.navbar-collapse -->
				</div>
				<!-- /.container-fluid -->
			</nav>
		</header>
		<% } %>